<div class="assignments-container">
  <b class="section-label" translate>tabs.assignments</b>
  <app-loader *ngIf="(assignments$ | async).communicationState !== CommunicationState.LOADED"></app-loader>
  <ion-accordion-group *ngIf="(assignments$ | async).communicationState === CommunicationState.LOADED" class="accordions" [multiple]="true">
    <ion-accordion *ngFor="let assignmentAccordion of (assignments$ | async).data" class="accordion">
      <ion-item slot="header">
        <div class="label">
          <ion-icon name="document-outline"></ion-icon>
          <ion-text>{{ assignmentAccordion.assignment.id }}</ion-text>
        </div>
      </ion-item>
      <div slot="content" class="content">
        <b>Content for {{ assignmentAccordion.assignment.id }}</b>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>