<div class="assignments-container">
  <b class="section-label" translate>tabs.assignments</b>
  <ion-accordion-group class="accordions">
    <ion-accordion class="accordion">
      <ion-item slot="header">
        <div class="label">
          <ion-icon name="document-outline"></ion-icon>
          <ion-text>27_10_2022_9767511</ion-text>
        </div>
      </ion-item>
      <div slot="content" class="content">
        <b>Content</b>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</div>