<div class="users-form-container">
  <div *ngIf="errorMessage" class="error">
    <ion-icon name="alert-outline"></ion-icon>
    <span>{{ errorMessage }}</span>
  </div>
  <form #formRef [formGroup]="form" class="form">
    <div class="row">
      <ion-item>
        <ion-label position="floating" translate>common.nickname</ion-label>
        <ion-input formControlName="nickname"></ion-input>
        <ion-note slot="error" *ngIf="form.controls['nickname'].errors && form.controls['nickname'].errors['required']"
          translate>common.validation.required
        </ion-note>
        <ion-note slot="error" *ngIf="form.controls['nickname'].errors && form.controls['nickname'].errors['pattern']"
          translate>
          common.validation.regex-did-not-match</ion-note>
      </ion-item>
    </div>
    <div *ngIf="form.controls['email']" class="row">
      <ion-item>
        <ion-label position="floating" translate>common.email</ion-label>
        <ion-input formControlName="email"></ion-input>
        <ion-note slot="error" *ngIf="form.controls['email'].errors && form.controls['email'].errors['required']"
          translate>common.validation.required
        </ion-note>
        <ion-note slot="error" *ngIf="form.controls['email'].errors && form.controls['email'].errors['email']"
          translate>common.validation.invalid-email
        </ion-note>
      </ion-item>
    </div>
    <div *ngIf="form.controls['password']" class="row">
      <ion-item>
        <ion-label position="floating" translate>common.password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <ion-note slot="error" *ngIf="form.controls['password'].errors && form.controls['password'].errors['required']"
          translate>common.validation.required
        </ion-note>
        <ion-note slot="error"
          *ngIf="form.controls['password'].errors && form.controls['password'].errors['minlength']">
          {{ ('common.validation.minimum-length' | translate) + PASSWORD_MIN_LENGTH + '
          ' + ('common.validation.characters' | translate) }}
        </ion-note>
        <ion-note slot="error"
          *ngIf="form.controls['password'].errors && form.controls['password'].errors['maxlength']">
          {{ ('common.validation.maximum-length' | translate) + PASSWORD_MAX_LENGTH + '
          ' + ('common.validation.characters' | translate) }}
        </ion-note>
      </ion-item>
    </div>
    <div *ngIf="form.controls['passwordConfirm']" class="row">
      <ion-item>
        <ion-label position="floating" translate>common.password-confirm</ion-label>
        <ion-input type="password" formControlName="passwordConfirm"></ion-input>
        <ion-note slot="error"
          *ngIf="form.controls['passwordConfirm'].errors && form.controls['passwordConfirm'].errors['required']"
          translate>
          common.validation.required</ion-note>
        <ion-note slot="error" *ngIf="form.errors && form.errors['exactTo']" translate>
          common.validation.passwords-are-not-the-same
        </ion-note>
        <ion-note slot="error"
          *ngIf="form.controls['passwordConfirm'].errors && form.controls['passwordConfirm'].errors['minlength']">
          {{ ('common.validation.minimum-length' | translate) +
          PASSWORD_MIN_LENGTH + ' ' + ('common.validation.characters' |
          translate) }}
        </ion-note>
        <ion-note slot="error"
          *ngIf="form.controls['passwordConfirm'].errors && form.controls['passwordConfirm'].errors['maxlength']">
          {{ ('common.validation.maximum-length' | translate) +
          PASSWORD_MAX_LENGTH + ' ' + ('common.validation.characters' |
          translate) }}
        </ion-note>
      </ion-item>
    </div>
    <div class="row">
      <ion-item>
        <ion-label position="floating" translate>common.role</ion-label>
        <ion-select formControlName="role" [placeholder]="'common.select-role' | translate">
          <ion-select-option *ngFor="let role of roles" [value]="role">{{ role.name }}</ion-select-option>
        </ion-select>
        <ion-note slot="error" *ngIf="form.controls['role'].errors && form.controls['role'].errors['required']"
          translate>common.validation.required
        </ion-note>
      </ion-item>
    </div>
  </form>
</div>