.users-list-container {
  display: flex;
  flex-direction: column;

  .content {
    app-users-list-table {
      display: none;
  
      @media(min-width: 1200px) {
        display: block;
      }
    }
  
    app-users-list-accordions {
      display: block;

      @media(min-width: 1200px) {
        display: none;
      }
    }
  }
}