<div class="assignment-form-container">
  <ion-button fill="outline" color="primary" strong="true" class="back-btn" (click)="navigateBackToList()" translate>common.back-to-list</ion-button>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>
        <ion-text translate>assignments.assignment</ion-text>: {{ assignment.id }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-assignments-tcs-summary [tcs]="assignment.tcs"></app-assignments-tcs-summary>
    </ion-card-content>
  </ion-card>
  <ion-fab class="fabs" vertical="top" horizontal="end">
    <ion-fab-button class="fab-button" (click)="add()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button class="fab-button" (click)="settings()">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>