<div class="users-change-password-form-container">
  <form [formGroup]="form" class="form">
    <div class="row">
      <ion-item>
        <ion-label position="floating" translate>common.password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <ion-note slot="error" *ngIf="form.controls['password'].errors && form.controls['password'].errors['required']" translate>common.validation.required
        </ion-note>
        <ion-note slot="error" *ngIf="form.controls['password'].errors && form.controls['password'].errors['minlength']">
          {{ ('common.validation.minimum-length' | translate) + PASSWORD_MIN_LENGTH + ' ' + ('common.validation.characters' | translate) }}
        </ion-note>
        <ion-note slot="error" *ngIf="form.controls['password'].errors && form.controls['password'].errors['maxlength']">
          {{ ('common.validation.maximum-length' | translate) + PASSWORD_MAX_LENGTH + ' ' + ('common.validation.characters' | translate) }}
        </ion-note>
      </ion-item>
    </div>
    <div class="row">
      <ion-item>
        <ion-label position="floating" translate>common.password-confirm</ion-label>
        <ion-input type="password" formControlName="passwordConfirm"></ion-input>
        <ion-note slot="error" *ngIf="form.controls['passwordConfirm'].errors && form.controls['passwordConfirm'].errors['required']" translate>common.validation.required</ion-note>
        <ion-note slot="error" *ngIf="form.errors && form.errors['exactTo']" translate>
          common.validation.passwords-are-not-the-same
        </ion-note>
        <ion-note slot="error" *ngIf="form.controls['passwordConfirm'].errors && form.controls['passwordConfirm'].errors['minlength']">
          {{ ('common.validation.minimum-length' | translate) + PASSWORD_MIN_LENGTH + ' ' + ('common.validation.characters' | translate) }}
        </ion-note>
        <ion-note slot="error" *ngIf="form.controls['passwordConfirm'].errors && form.controls['passwordConfirm'].errors['maxlength']">
          {{ ('common.validation.maximum-length' | translate) + PASSWORD_MAX_LENGTH + ' ' + ('common.validation.characters' | translate) }}
        </ion-note>
      </ion-item>
    </div>
  </form>
</div>