<div class="users-change-password-form-container">
  <form [formGroup]="form" class="form">
    <div class="row">
      <ion-item>
        <ion-label position="floating" translate>common.password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
        <ion-note slot="error" *ngIf="form.get('password').hasError('required')" translate>common.validation.required
        </ion-note>
        <ion-note slot="error" *ngIf="form.get('password').hasError('minlength')">
          {{ ('common.validation.minimum-length' | translate) + form.get('password').errors.minlength.requiredLength + ' ' + ('common.validation.characters' | translate) }}
        </ion-note>
        <ion-note slot="error" *ngIf="form.get('password').hasError('maxlength')">
          {{ ('common.validation.maximum-length' | translate) + form.get('password').errors.maxlength.requiredLength + ' ' + ('common.validation.characters' | translate) }}
        </ion-note>
      </ion-item>
    </div>
    <div class="row">
      <ion-item>
        <ion-label position="floating" translate>common.password-confirm</ion-label>
        <ion-input type="password" formControlName="passwordConfirm"></ion-input>
        <ion-note slot="error" *ngIf="form.get('passwordConfirm').hasError('required')" translate>common.validation.required</ion-note>
        <ion-note slot="error" *ngIf="form.hasError('exactTo')" translate>
          common.validation.passwords-are-not-the-same
        </ion-note>
        <ion-note slot="error" *ngIf="form.get('passwordConfirm').hasError('minlength')">
          {{ ('common.validation.minimum-length' | translate) + form.get('passwordConfirm').errors.minlength.requiredLength + ' ' + ('common.validation.characters' | translate) }}
        </ion-note>
        <ion-note slot="error" *ngIf="form.get('passwordConfirm').hasError('maxlength')">
          {{ ('common.validation.maximum-length' | translate) + form.get('passwordConfirm').errors.maxlength.requiredLength + ' ' + ('common.validation.characters' | translate) }}
        </ion-note>
      </ion-item>
    </div>
  </form>
</div>