<div class="assignments-tcs-summary-container">
  <b class="tcs-label">TCs</b>
  <div class="tcs">
    <div *ngIf="!tcs.length" class="no-tcs">No TCs</div>
    <div *ngFor="let tc of tcs" class="tc">
      <div class="row">
        <ion-icon name="cube-outline"></ion-icon>
        <span class="name">{{ tc.name }}</span>
        <span class="pallets-count">[{{ tc.pallets.length }}]</span>
        <span class="diameters">({{ tc.width }}W x {{ tc.height }}H x {{ tc.inners }}IN)</span>
      </div>
      <div class="row">
        <ion-progress-bar ionProgressBarColor [value]="getInnersCountPercentage(tc)"></ion-progress-bar>
        <span class="inners-count">{{ getInnersCount(tc) }} / {{ tc.limit }}</span>
      </div>
    </div>
  </div>
</div>