<ion-header>
  <ion-toolbar color="primary">
    <ion-title translate>common.delete</ion-title>
  </ion-toolbar>
</ion-header>
<div class="content">
  <div class="text" translate>common.delete-confirmation</div>
  <div class="actions">
    <ion-button type="button" class="cancel-btn" color="light" size="default" strong="true" (click)="close()" translate>common.cancel</ion-button>
    <ion-button type="button" class="confirm-btn" color="primary" size="default" strong="true" (click)="confirm()" translate>common.confirm</ion-button>
  </div>
</div>