.assignments-list-container {
  display: flex;
  flex-direction: column;

  .section-label {
    color: var(--ion-color-primary);
    font-size: 20px;
    margin-bottom: 16px;
  }

  .content {
    .actions {
      display: flex;
      margin-bottom: 16px;

      ion-button {
        --padding-start: 8px;
        --padding-end: 8px;

        span {
          margin-left: 8px;
        }
      }
    }

    .filter {
      margin-bottom: 16px;

      .status {
        ion-select::part(text) {
          font-weight: bold;
        }
      }
    }

    .info {
      font-size: 18px;
      font-weight: bold;
      margin: 16px 0 0 16px;
    }

    .accordions {
      .accordion {
        &.accordion-expanded {
          ion-item {
            --background: var(--ion-color-light-shade);
          }
        }
  
        ion-item {
          --background: var(--ion-color-light);
  
          .label {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            font-weight: bold;
            align-items: center;
            width: 100%;
  
            ion-icon {
              font-size: 24px;
              margin-right: 8px;
            }
  
            ion-progress-bar {
              width: 100%;
              margin-top: 8px;
  
              @media(min-width: 400px) {
                width: 100px;
                margin: 0 0 0 auto;
              }
  
              @media(min-width: 768px) {
                width: 200px;
              }
            }
          }
        }
  
        .content {
          padding: 16px;
  
          app-assignments-list-actions {
            display: block;
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}