.assignments-tcs-summary-container {
  .tcs-label {
    font-size: 16px;
    font-weight: bold;
  }

  .tcs {
    display: flex;
    flex-direction: column;
    margin-left: 16px;

    .no-tcs {
      margin-top: 4px;
      font-size: 16px;
      font-weight: bold;
    }

    .tc {
      display: flex;
      flex-direction: column;
      margin-top: 8px;
      align-items: center;

      @media(min-width: 768px) {
        flex-direction: row;
      }

      .row {
        display: flex;
        align-items: center;
        width: 100%;

        @media(min-width: 768px) {
          width: auto;
        }

        ion-icon {
          position: relative;
          font-size: 16px;
          line-height: 16px;
          margin-right: 8px;
          top: -1px;
        }

        .name {
          font-size: 16px;
          font-weight: bold;
          line-height: 16px;
        }

        ion-progress-bar {
          flex: 1;
          margin: 0 8px 0 0;

          @media(min-width: 768px) {
            width: 200px;
          }
        }

        .inners-count {
          font-size: 14px;
          line-height: 14px;
        }

        .pallets-count,
        .diameters {
          font-size: 16px;
          font-weight: bold;
          line-height: 16px;
        }

        .pallets-count {
          margin: 0 8px;
        }

        .diameters {
          margin-right: 8px;
        }
      }
    }
  }
}