.users-list-table-container {
  .header {
    background-color: var(--ion-color-primary);
    color: white;

    ion-col {
      text-align: center;
      font-weight: bold;
      padding: 8px 4px;

      &:not(&:first-of-type) {
        border-left: 1px solid white;
      }
    }
  }

  .user {
    padding: 8px 4px;
  }
}