$margin-between-items: 16px;

.logout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;

  app-logo {
    margin-bottom: 48px;
  }

  .info {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: $margin-between-items;
    color: var(--ion-color-primary);
  }

  .login-btn {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--ion-color-primary);
    color: white;
  }
}