<div class="login-container">
  <app-logo></app-logo>
  <div class="info" translate>auth.sign-in</div>
  <form [formGroup]="form" (ngSubmit)="login()">
    <input formControlName="login" type="email" autocomplete="off" [placeholder]="'auth.placeholders.email' | translate">
    <div *ngIf="formControls['login'].dirty && formControls['login'].errors && formControls['login'].errors['required']" class="error" translate>validation.field-required</div>
    <div *ngIf="formControls['login'].dirty && formControls['login'].errors && formControls['login'].errors['email']" class="error" translate>validation.email-invalid</div>
    <input formControlName="password" type="password" autocomplete="off" [placeholder]="'auth.placeholders.password' | translate">
    <div *ngIf="formControls['password'].dirty && formControls['password'].errors && formControls['password'].errors['required']" class="error" translate>validation.field-required</div>
    <button type="submit" class="login-btn" [disabled]="form.invalid" translate>auth.sign-in</button>
  </form>
</div>