.tabs-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  .list {
    .tab {
      --inner-border-width: 0;

      &.current {
        color: var(--ion-color-primary);
        font-weight: bold;

        .icon {
          color: var(--ion-color-primary);
        }
      }

      &:hover {
        --background: var(--ion-color-primary);
        color: white;

        .icon {
          color: white;
        }
      }

      .icon {
        margin-right: 8px;
      }
    }
  }
}