<div class="assignment-logs-container">
  <ion-button fill="outline" color="dark" strong="true" class="back-btn" (click)="navigateBackToAssignment()" translate>assignments.back-to-assignment</ion-button>
  <div class="header" translate>assignments.event-logs</div>
  <div *ngIf="!logs.length" class="info" translate>common.no-data</div>
  <div class="logs">
    <div *ngFor="let log of logs" class="log">
      <span class="datetime">{{ log.datetime }}</span>
      <ion-icon [name]="getIcon(log.type)"></ion-icon>
      <span class="label" translate>assignments.logs.{{ log.type }}</span>
      <span *ngIf="log.text" class="additional-text">{{ log.text }}</span>
    </div>
  </div>
</div>